{
	"apikey":"GetRealApiKeyFromBlizs",
	"realms":["eu:fordragon"],
	"locales":["ru_RU"],
    "log_dir": "data/log/",
    "download_dir": "data/download/",
    "temp_dir": "data/tmp/",
    "result_dir": "data/result/",
    "backup_dir": "data/backup/",
    "backup_ext": ".zip",
    "name_format": "{realm}-{name}",
    "timed_name_format": "2006_01-{realm}-{name}",
    "backup_without_last": true,
    "remove_after_backup": false
}
